---
import Layout from "../layouts/Layout.astro"
---

  <Layout>
    <div>
    <h1 class="head">About</h1>
    </div>
  </Layout>

  <style>
  .head{
    color:#1b1b1b;
    text-decoration:underline;
  }
  </style>